/* global part 
/* ids 
#navbar {
   display: flex;
}

#content {
   display: flex;
   justify-content: center;
}

/* classes 
.navItem {
    justify-content: left;
    text-decoration: none;
    color: black;
}

.btn {
   color: #000;
   text-align: center;
}

.btn-primary {
    background-color: blue;
    color: white;
    border-color: rgb(155, 154, 154);
}

.btn-danger {
    background-color: red;
    color: white;
    border-color: #ff3279;
}

.error-text {
    color: red;
}

/* tags 
 
/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {
/* ids 
#content {
    margin: 1em 0em;
}

/* classes 
.btn {
    border: 1em;
    margin-left: 10px;
}

/* tags 
}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
/* ids 
#content {
    margin: 1em 0em;
}

/* classes 
.btn {
    border: 1em;
    margin-left: 10px;
}

/* tags 
}

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
/* ids 
#content {
    margin: 1em 0em;
}

/* classes 
.btn {
    border: 1em;
    margin-left: 10px;
}

/* tags 
}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
/* ids 
#content {
    margin: 1em 0em;
}

/* classes 
.btn {
    border: 1em;
    margin-left: 10px;
}

/* tags 
}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
/* ids 
#content {
    margin: 1em 0em;
}

/* classes 
.btn {
    border: 1em;
    margin-left: 10px;
}

/* tags 
} */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
#td:hover {
	/* opacity: 0.5; */
	/* background-color: purple; */
	background-color: color-mix(in srgb, purple 50%, transparent 50%);
	/* cursor: pointer; */
}
#th:hover {
	background-color: blue;
}
/* #name; id=name .name; class=name name; all=name */
#notification-area {
    position: absolute;
    right: 10px;
    top: 10px;
    min-width: 40px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: color-mix(in srgb, gray 50%, transparent 50%);
    border: 1px solid gray;
    padding: 10px;
    z-index: 1000;
}